.warehouse3{
    background-color: rgb(206, 246, 246);
}

.scroll-container {
    width: 50%;
    height: 790px;
    overflow-x: auto;
  }

.container {
    
}
  
.text-center {
    
}
  
.btn {
  
}
  
table {
   
}
  
thead {
   
}
  
th {
    
}
  
tbody {
   
}
  
tr {
  
}
  
td {
    
}