<section class="warehouse3">
    <div class="container">
        <h1 class="text-center">Warehouse 3</h1>
        <div class="btn">
            
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>UPC</th>
            </tr>
        </thead>

        <tbody>

            <ng-container *ngFor="let warehouse3 of localWarehouse3">

                <tr>
                    <td>{{ warehouse3.productId }}</td>
                    <td>{{ warehouse3.productName}}</td>
                    <td>{{ warehouse3.productPrice }}</td>
                    <td>{{ warehouse3.quantity }}</td>
                    <td>{{ warehouse3.upc }}</td>
                </tr>

            </ng-container>


        </tbody>

    </table>
</section>
