.warehouse4 {
    background-color: rgb(206, 246, 246);
  }
  
  .scroll-container {
    display: block;
    max-height: 750px;
    overflow: auto;
  }
  
  .container {
    margin: 20px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .my-button {
    cursor: pointer;
    transition: background-color 3ms;
  }
  
  .my-button:hover {
    background-color: aqua;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  tbody {
    font-size: 14px;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .table-sticky{
    position: sticky;
  }

  table th {
    position: sticky;
     top: 0; z-index: 10
    }