.warehouse4 {
    background-color: rgb(206, 246, 246);
  }
  
  .table-container {
    /* display: block; */
    max-height: 750px;
    overflow: auto;
  }
  
  .container {
    margin: 20px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .my-button {
    cursor: pointer;
    transition: background-color 3ms;
  }
  
  .my-button:hover {
    background-color: aqua;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-container thead {
    background-color: #f2f2f2;
  }
  
  .table-container th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .table-container tbody {
    font-size: 14px;
    display: block;
    max-height: 600px; /* Set the desired height for the scrollable area */
    overflow-y: auto;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
  } */

  .table-container tr {
    display: flex;
  }

  .table-container td {
    flex: 1;
    white-space: nowrap;
  }
