.warehouse4 {
  background-color: rgb(206, 246, 246);
}


.table-container {
  /* display: block; */
  flex-grow: 1;
  max-height: 750px;
  width: 1500px;
  overflow: auto;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.table-scroll{
  max-height: 400px;
  overflow: auto;
}

.text-center {
  text-align: center;
}

.my-button {
  cursor: pointer;
  transition: background-color 3ms;
}

.my-button:hover {
  background-color: aqua;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

/* add button */
thead {
  background-color: #f2f2f2;
}

  /* outlines of table head elements and data elem */
th, td{
  padding: 8px;
  border: 1px solid #ccc;
}

/* th {
position: sticky;
top: 0;
background-color: red;
} */

/* odd rows */
tbody {
  font-size: 14px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* horizontal border lines of table rows */
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

td.my-button{
  cursor: pointer;
}

.table-sticky{
  position: sticky;
}

/* table header (ID, Name, Price etc.. */
table th {
  position: sticky;
   top: 0; z-index: 10
  }

