<section class="warehouse2">
    <div class="container">
        <h1 class="text-center">Warehouse 2</h1>
        <div class="btn">
  
        </div>
    </div>
    <div class="scroll-container">
    <table>
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>UPC</th>
            </tr>
        </thead>

        <tbody>

            <ng-container *ngFor="let warehouse2 of localWarehouse2">

                <tr>
                    <td>{{ warehouse2.productId }}</td>
                    <td>{{ warehouse2.productName}}</td>
                    <td>{{ warehouse2.productPrice }}</td>
                    <td>{{ warehouse2.quantity }}</td>
                    <td>{{ warehouse2.upc }}</td>
                </tr>

            </ng-container>

        </tbody>

    </table>
    </div>
</section>
