<section class="warehouse1">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="scroll-container">
                    <div class="table-header">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product ID</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>UPC</th>
                                    <button class="my-button">&#x2795;</button>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    
                    <div class="table-body">
                        <table>
                            <tbody>
                                <ng-container *ngFor="let warehouse1 of localWarehouse1">
                                    <tr (click)="getProductDetails(warehouse1.productId)">
                                        <td>{{ warehouse1.productId }}</td>
                                        <td>{{ warehouse1.productName}}</td>
                                        <td>{{ warehouse1.productPrice }}</td>
                                        <td>{{ warehouse1.quantity }}</td>
                                        <td>{{ warehouse1.upc }}</td>
                                        <button>Wrench</button>
                                        <button>Trash Can</button>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col">
               <h1 class="text-center">Warehouse 1</h1>
                <form> 
                    <h4>Add new product</h4>
                    <label for="name">Product name: </label>
                    <input type="text" id="name" name="formName" [(ngModel)]="formName">
                    <label for="price">Product price: </label>
                    <input type="number" id="price" name="formPrice" [(ngModel)]="formPrice">
                    <label for="quantity">Quantity: </label>
                    <input type="number" id="quantity" name="formQuantity" [(ngModel)]="formQuantity">
                    <label for="upc">UPC: </label>
                    <input type="text" id="upc" name="formUpc" [(ngModel)]="formUpc">

                    <button (click)="addNewProduct()">Add new product</button>
                </form>
                <br>
                <form>
                    <h4>Update Product</h4>
                    <label for="productId">ID: </label>
                    <input type="number" id="productId" name="formId" [(ngModel)]="formId">
                    <label for="name">Product name: </label>
                    <input type="text" id="name" name="formName" [(ngModel)]="formName">
                    <label for="price">Product price: </label>
                    <input type="number" id="price" name="formPrice" [(ngModel)]="formPrice">
                    <label for="quantity">Quantity: </label>
                    <input type="number" id="quantity" name="formQuantity" [(ngModel)]="formQuantity">
                    <label for="upc">UPC: </label>
                    <input type="text" id="upc" name="formUpc" [(ngModel)]="formUpc">
                    <button (click)="updateProduct()">Update</button>
                </form>
            </div>
        </div>
    </div>
    
</section>