<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="">PALETERO INC.</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="inventory">Inventory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="products">W1(Products)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="warehouse1">W1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="warehouse2">W2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="warehouse3">W3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="warehouse4">W4</a>
        </li>
      </ul>
    </div>