<section class="about">
    <h1 class="text-center mb-5">About Us</h1>
    <p class="text-center">
        Since 2020, Paletero Inc. has been the country’s largest bulk candy and party accessories supplier. With 6,000+ candy 
        selections, we ship candy all over the world. We have all the name-brands as well as nostalgic, hard-to-find, artisanal, 
        seasonal, gross, extreme and international candies . . . all in one place! Our warehouse team can create beautiful custom 
        packaging to promote your event, organization or company. We are also corporate gifting specialists and can design one-of-a-kind 
        candy packages for your clients. Our Long Beach store/warehouse is open to the public and available for parties, corporate events 
        and media productions.</p>
    <div class="follow text-center">
    <img src="../../assets/ernesto.jpg">
    <h3>Ernesto Higuera (Project Manager)</h3>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="https://www.linkedin.com/in/ernesto-higuera-8b850b10a/">Linkedin</a>
    <p>A project manager is a professional who organizes, plans, and executes projects while working within restraints like budgets and schedules. 
        Project managers lead entire teams, define project goals, communicate with stakeholders, and see a project through to its closure. Whether 
        running a marketing campaign, constructing a building, developing a computer system, or launching a new product, the project manager is 
        responsible for the success or failure of the project. The project manager role is in demand in just about every industry. Let’s take a 
        closer look at what project managers do, why you should consider a career in project management, and how you can get started.</p>
    </div>
    <div class="follow text-center">
    <img src="../../assets/LeeRoy.jpg">
    <h3>LeeRoy Carpio (Backend Manager)</h3>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="https://www.linkedin.com/in/leeroy-carpio-b6ba2264/">Linkedin</a>
    <p>The Backend Engineering Manager specializes in Backend Engineering Management as a manager of people. 
        Engineering Managers at GitLab see their team as their product. While they are technically credible and 
        know the details of what engineers work on, their time is spent safeguarding their team’s health, hiring
        a world-class team, and putting them in the best position to succeed. They own the delivery of product 
        commitments and are always looking to improve productivity. They must also coordinate across departments to accomplish 
        collaborative goals.</p>
    </div>
    <div class="follow text-center">
    <img src="../../assets/Isaac.jpg">
    <h3>Isaac Bolanos (Director of Engineering)</h3>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="https://www.linkedin.com/in/isaac-bolanos-94ba83244/">Linkedin</a>
    <p>The director of engineering leads the engineering department of a company; from hiring and training new team 
        members to managing tech projects and preparing the budget of the team. Directors of engineering usually have 
        both a strategic and a technical role inside the company. The strategic aspect includes setting goals for the 
        team, hiring engineers and prioritizing projects. The technical aspect is about getting actively involved in 
        developing new products, identifying requirements and setting timelines.</p>
    </div>
    <div class="follow text-center">
    <img src="../../assets/IMG_3551.jpg">
    <h3>Rashad Thomas (Frontend Manager)</h3>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="https://www.linkedin.com/in/stanley-thomas-38405518a/">Linkedin</a>
    <p>A front end manager is responsible for monitoring the retail sales department's operations, evaluating the 
        performance of retail staff, and ensuring that the team meets the highest quality service and customer satisfaction. 
        Front end managers respond to customers' inquiries and concerns, handle high-level complaints, develop sales strategies 
        and techniques to boost sales, improve profitability, analyze financial reports and cash management systems, and 
        identify business opportunities. A front-end manager must have excellent analytical and leadership skills in 
        overseeing daily operations and efficiently leading the team.</p>
    </div>


</section>
